<div class="menu-a">
  <h3 class="menu-a__heading">Color Picker Variations</h3>
  <ul class="menu-a__items">
    <li class="menu-a__item {% if colorpickerType == 'default'%}is-active{% endif %}">
      <a href="colorpicker.html" class="menu-a__link">Default Color Picker</a>
    </li>
    <li class="menu-a__item {% if colorpickerType == 'multiSpectral'%}is-active{% endif %}">
      <a href="multi-spectral-colorpicker.html" class="menu-a__link">Multi Spectral Color Picker</a>
    </li>
    <li class="menu-a__item {% if colorpickerType == 'material'%}is-active{% endif %}">
      <a href="material-colorpicker.html" class="menu-a__link">Material Color Picker</a>
    </li>
    <li class="menu-a__item {% if colorpickerType == 'palette'%}is-active{% endif %}">
      <a href="palette-colorpicker.html" class="menu-a__link">Palette Color Picker</a>
    </li>
    <li class="menu-a__item {% if colorpickerType == 'tabPalette'%}is-active{% endif %}">
      <a href="tab-palette-colorpicker.html" class="menu-a__link">Tab Palette Color Picker</a>
    </li>
    <li class="menu-a__item">
      <a class="menu-a__link" href="http://themesanytime.com/products/colorpicker/" target="_blank">Documentation</a>
    </li>
  </ul>
</div>
